<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

<parameter name="baseUrl" value="https://qa.koel.app/"/>
    <test name="Example Test" preserve-order="false">
        <classes>

            <class name="LoginTests">
            <methods>
                <include name="loginTest"/>
                <include name="loginWithEmptyCredentials"/>
            </methods>
            </class>
            <class name="RegistrationNavigationTest"/>
            <class name="ProfileTest"/>
            <class name="PlaySongByActionClickTest"/>
            <class name="AddSongToPlaylistTest"/>
            <class name="PlaySongTest"/>
            <class name="DeletePlaylistTest"/>
            <class name="BaseTest"/>
            <class name="RenamePlaylistTest"/>
            <class name="ThemeTest"/>


        </classes>

    </test>
</suite>

